section{
  padding-top: 3em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 40vw;
}
section > *{
  margin: 2.5em;
}
.c-choice__imgFundo{
  position: absolute;
  top: 11em;
  left: 19em;
  z-index: -1;
}
