header{
  display: flex;
  justify-content: center;
}
.c-home__rulesBtn{
  position:fixed;
  bottom: 3em;
  right: 4em;

  width: 11em;
  height: 3.5em;

  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 110%;
  font-weight: bold;

  border-radius: 0.7em;
  background-color: transparent;
  border: 2px solid white;
  color: white;

  cursor: pointer;
}
main{
  position: relative;
}
